.bg {
  background-color: #f5f5f5d0;
}

.gellery {
  display: inline-block;
  text-decoration: underline;
  color: #09c;
  cursor: pointer;
}

.nav-tabs li:hover {
  color: #fff;
  background-color: #a5cbed !important;
}

.save {
  width: 120px;
}
