<div id="documentsBody" appDnd (fileDropped)="onFileDropped($event)" class="accordion-collapse collapse show px-2"
    aria-labelledby="documentsHead">
    <div class="container-fluid">
        <div class="filezone-container mx-auto text-center" *ngIf="!isBtn">
            <label for="inputDocuments" id="img-label">
                <div>
                    <i class='bx bx-cloud-upload'></i>
                </div>
                <div>
                    Drop files here or click to upload
                    <span class="text-black-50 mx-3 fs-14"><br>image</span>
                </div>
            </label>
        </div>
        <input type="file" id="inputDocuments" (change)="onSelectFiles($event)" accept="image/*" multiple>
        <div *ngIf="isBtn" class="d-flex" [ngClass]="{'justify-content-end': btnEnd}">
            <label for="inputDocuments" id="img-label-button" class="btn btn-sm btn-outline-success">
                <i class="ri-file-upload-line"></i> Insert
            </label>
        </div>

        <div class="row files-views">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-0" *ngFor="let item of documentsToDisplay">
                <div class="card m-1">
                    <div class="row align-items-center g-0 overflow-hidden">
                        <div class="col-4 h-100">
                            <img id="file-preview" [src]="item.data" (error)="errorImages($event)"
                                class="img-fluid rounded shadow-sm">
                        </div>
                        <div class="col-6">
                            <div class="card-body py-2">
                                <h6 class="card-title fs-13">{{item.name}}</h6>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="border-0 py-1">
                                <button type="button" (click)="removeImage(item)"
                                    class="btn btn-outline-danger btn-icon waves-effect waves-light doc-btn">
                                    <i class="bx bx-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>