<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-spin" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>

<div class="container home mt-lg-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <form>
        <div class="mb-3 row">
          <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">
            search Make</label>
          <div class="col-xs-3 col-sm-auto">
            <input id="table-filtering-search" class="form-control" placeholder="Type Make Name" type="text"
              [formControl]="filter" />
          </div>
        </div>
      </form>
    </div>
    <div class="col-6 d-flex justify-content-end my-4">
      <div>
        <!-- <button class="btn btn-secondary mx-1" (click)="openFilterOffcanvas()">
          Filter <i class='bx bx-filter-alt p-1'></i>
        </button> -->
        <button class="btn btn-outline-dark" type="button" (click)="openMakeModal()">
          Add Make <i class="bx bx-plus p-1"></i>
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Make Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries$ | async; index as i">
            <td>
              <ngb-highlight [result]="country.id | number" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="country.makeName" [term]="filter.value"></ngb-highlight>
            </td>
            <th scope="row">
              <button class="btn btn-outline-info me-3">
                <i class='bx bx-edit-alt'></i>
              </button>
              <button class="btn btn-outline-danger">
                <i class='bx bx-trash'></i>
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
