<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-spin" [fullScreen]="true">
    <p style="color: white">Loading...</p>
</ngx-spinner>

<div class="test d-flex justify-content-center align-items-center vh-100">
    <div class="login-form bg-light p-5 shadow rounded">
        <h2 class="text-center mb-4">Login</h2>
        <form [formGroup]=loginForm (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="userName" class="form-label">User Name</label>
                <input [ngClass]="{
                    'is-invalid':
                      (f.username.touched || submitted) && f.username.invalid
                  }" type="text" formControlName="username" class="form-control" id="userName"
                    placeholder="Enter your User Name">
                <div class="invalid-feedback fw-bold" *ngIf="
                    (f.username.touched || submitted) && f.username.invalid
                  ">
                    Required
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input [ngClass]="{
                    'is-invalid':
                      (f.password.touched || submitted) && f.password.invalid
                  }" type="password" formControlName="password" class="form-control" id="password"
                    placeholder="Enter your password">
                <div class="invalid-feedback fw-bold" *ngIf="
                    (f.password.touched || submitted) && f.password.invalid
                  ">
                    Required
                </div>
            </div>
            <button type="submit" class="btn btn-dark w-100">Login</button>
        </form>
    </div>
</div>