.home {
  min-height: 70vh !important;
}
.table-wrapper::-webkit-scrollbar {
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
