<footer class="text-center position-static text-lg-center text-color bg-dark py-4">
  <!-- Section: Social media -->
  <div class="d-flex justify-content-center justify-content-lg-center ">
    <div class="d-block">
      <img src="../../../assets/images/dublin_city_last.png" alt="">
    </div>


  </div>
  <!-- Section: Social media -->

  <!-- Copyright -->
  <div class="text-center pt-4" style="background-color: rgba(0, 0, 0, 0.05);">
    &copy; 2024 copyright
  </div>
  <!-- <div class="text-center pt-4" style="background-color: rgba(0, 0, 0, 0.05);">
        This Website Was Developed By
        <a class="text-reset fw-bold" href="">Khaled & Zead</a>
    </div> -->
  <!-- Copyright -->
</footer>
<!-- Footer -->