// .ng-select-container {
//   min-height: calc(1.5em + 0.5rem + 1px) !important;
//   max-height: calc(1.5em + 0.5rem + 1px) !important;
// }

.container {
  margin-top: 100px !important;
  max-width: 1900px !important;
  min-height: 425px !important;
}
