<!-- <div class="not-found-container text-center">
    <h1 class="display-1">404</h1>
    <h2 class="mb-4">Page Not Found</h2>
    <p class="mb-5">Sorry, the page you are looking for does not exist.</p>
    <button class="btn btn-primary" (click)="goHome()">Back to Home</button>
</div> -->


<!-- auth page content -->
<div class="auth-page-content my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center pt-4">
                    <div class=" mt-1">
                        <img src="assets/images/error400-cover.png" width="50%" alt=""
                            class="error-basic-img move-animation">
                    </div>
                    <div class="mt-n4">
                        <h1 class="display-1 fw-semibold">404</h1>
                        <h3 class="text-uppercase">Sorry, Page not Found</h3>
                        <p class="text-muted mb-4">The page you are looking for not available!</p>
                        <a routerLink="/" class="btn btn-secondary"><i class="mdi mdi-home me-1"></i>Back to home</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div>
    <!-- end container -->
</div>
<!-- end auth page content -->