<div>
  <div class="gift-ribbon-wrapper">
    <div class="gift-ribbon">New Model</div>
  </div>
  <div class="modal-header mb-0">

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
    <div class="modal-body p-1 m-2 mt-5" style="overflow-y: unset !important;">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="float-label">
            <ng-select [items]="makes" [loading]="makes ? false : true" placeholder="Select Make" [searchable]="true"
              formControlName="makeId" bindLabel="name" bindValue="id"></ng-select> <label for="">Make</label>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="float-label">
            <input type="text" class="form-control" formControlName="name" placeholder="Enter Model Name">
            <label>Model Name</label>
          </div>
        </div>
        <div class="col-12">
          <div class="float-label">
            <input type="number" class="form-control" formControlName="year" placeholder="Enter Model Year">
            <label>Model Year</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-sm btn-outline-success mx-2 d-flex align-items-center">
        <i class="bx bx-save me-1"></i> Save <span *ngIf="submit" class="spinner-border spinner-border-sm ms-2"></span>
      </button>
      <button type="button" (click)="reset()" class="btn btn-sm btn-outline-info mx-2 d-flex align-items-center">
        <i class="bx bx-clipboard me-1"></i> Clear
      </button>
      <button type="button" class="btn btn-outline-danger btn-sm d-flex align-items-center"
        (click)="modal.dismiss('Cross click')">
        <i class="bx bx-x me-1"></i> Close
      </button>
    </div>
  </form>
</div>