/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";

.container {
  margin-top: 100px !important;
  max-width: 1900px !important;
}

.content {
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.float-label {
  position: relative;
  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    transition: 0.1s ease-out;
    transform-origin: left top;
    pointer-events: none;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
  }
  input {
    &::placeholder {
      color: transparent;
    }
    &:focus,
    &:not(:placeholder-shown) {
      & + label {
        color: #030303;
        top: 0;
        transform: translateY(-50%) scale(0.9);
        border-radius: 5px;
      }
    }
  }
  ng-select {
    &::placeholder {
      color: transparent;
    }
    &:focus,
    &:not(:placeholder-shown) {
      & + label {
        color: #030303;
        top: 0;
        transform: translateY(-50%) scale(0.9);
        border-radius: 5px;
      }
    }
  }
}

.is-invalid {
  border-color: #f17171 !important;
}

/* ribbon */

.gift-ribbon-wrapper {
  position: relative;
}

.gift-ribbon {
  position: absolute;
  top: 20px;
  left: 0;
  width: 140px;
  background-color: #101214; // Dark red for a gift-like look
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 0.875rem;
  font-weight: 600;
  // transform: rotate(-45deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
  letter-spacing: 1px;
}

.gift-ribbon:before,
.gift-ribbon:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #101214 transparent transparent transparent;
}

.gift-ribbon:before {
  border-width: 0 0 12px 12px;
  bottom: -12px;
  left: 0;
}

.gift-ribbon:after {
  border-width: 12px 12px 0 0;
  top: 0;
  right: 0;
}

/* Bow styling to make it look more like a gift ribbon */
.gift-ribbon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  height: 10px;
  width: 20px;
  background-color: #101214;
  border-radius: 10px 0 0 10px;
}

.gift-ribbon::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  height: 10px;
  width: 20px;
  background-color: #101214;
  border-radius: 0 10px 10px 0;
}
