<nav class="navbar navbar-dark bg-dark fixed-top pt-3">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <a class="navbar-brand text-center" href="/">
                    <img src="../../../assets/images/dublin_city_last.png" alt="" width="100%">
                </a>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <button class="navbar-toggler" type="button" (click)="openNav()">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
</nav>
<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 pe-3 text-center">
            <!-- <li class="nav-item d-flex justify-content-center">
                <a class="nav-link active d-flex align-items-center" routerLink="/"><i class='bx bx-home me-1'></i>
                    Home</a>
            </li>
            <hr> -->

            <div ngbAccordion [closeOthers]="true">
                <div ngbAccordionItem [collapsed]="true" class="border border-0">
                    <h6 ngbAccordionHeader>
                        <button ngbAccordionButton><i class='bx bx-cart me-1'></i> Products</button>
                    </h6>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ul class="list-unstyled">
                                <li class="nav-item p-1">
                                    <a class="nav-link d-flex align-items-center" routerLink="/">
                                        <i class='bx bx-cart me-1'></i> All Products
                                    </a>
                                </li>
                                <li class="nav-item p-1">
                                    <a class="nav-link d-flex align-items-center" routerLink="/categories">
                                        <i class='bx bx-category me-1'></i> Categories
                                    </a>
                                </li>
                                <li class="nav-item p-1">
                                    <a class="nav-link d-flex align-items-center" routerLink="/tags">
                                        <i class='bx bx-purchase-tag-alt me-1'></i> Tags
                                    </a>
                                </li>
                                <li class="nav-item p-1">
                                    <a class="nav-link d-flex align-items-center" routerLink="/attributes">
                                        <i class='bx bx-cube-alt me-1'></i> Attributes
                                    </a>
                                </li>
                                <li class="nav-item p-1">
                                    <a class="nav-link d-flex align-items-center" routerLink="/reviews">
                                        <i class='bx bx-file me-1'></i> Reviews
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div ngbAccordionItem class="border border-0">
                    <h6 ngbAccordionHeader>
                        <button ngbAccordionButton class="bg-none"><i class='bx bx-user me-1'></i> Users</button>
                    </h6>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ul class="list-unstyled">
                                <li class="nav-item p-2">
                                    <a class="nav-link d-flex align-items-center" routerLink="/users">
                                        <i class='bx bx-user me-1'></i> All Users
                                    </a>
                                </li>
                                <li class="nav-item p-2">
                                    <a class="nav-link d-flex align-items-center" routerLink="/profile">
                                        <i class='bx bx-user-pin me-1'></i> Profile
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</ng-template>