// .container-fluid {
//   height: 80px;
// }
li:hover {
  color: #fff;
  background-color: #6c757d;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  cursor: pointer;
}
